<head>
    <link href="~/css/site.css" rel="stylesheet" type="text/css">
</head>
<header>
    @{
        Html.RenderPartial("_HeaderNavBar");
    }
</header>

<main>
    <h2>Registro efetuado com sucesso!</h2>
</main>